
<div class="p-6 bg-white rounded-lg">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">Parameters</h2>
    <p class="text-lightGray">
      Let’s set the parameters of the simulation.<br />
      Parameters are related to access points, tenants, drivers’ discipline and even the LPR system performance.<br />
      Make sure you set the values as close to your real life scenarios because the data represents the entry point for the simulation.
    </p>

    <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="onTabChange($event)" mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          Access Points
        </ng-template>
        <p class="my-4 text-gray">Make sure you set the values as close to your real life scenarios because the data represents the entry point for the simulation.</p>
        <app-access-points (nextTab)="nextTab()"></app-access-points>
      </mat-tab>
      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          Tenants
        </ng-template>
        <p class="my-4 text-gray">List all the tenants and their associated parameters.</p>
        <app-tenants (nextTab)="nextTab()"></app-tenants>
      </mat-tab>
      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          Booking
        </ng-template>
        <p class="my-4 text-gray">Bookings will be used as a parameter for the access validation process.</p>
        <app-booking (nextTab)="nextTab()"></app-booking>
      </mat-tab>
      <mat-tab [disabled]="true">
        <ng-template mat-tab-label>
          QUEUE
        </ng-template>
        <p class="my-4 text-gray">Manage queue settings here.</p>
        <app-parameters-queue (nextTab)="nextTab()"></app-parameters-queue>
      </mat-tab>
    </mat-tab-group>
  </div>
  