<div *ngIf="isLoading$ | async" class="fixed inset-0 flex items-center justify-center bg-glass-sm bg-opacity-50 z-50">
    <div class="p-6 bg-white rounded-lg shadow-lg text-center">
        <app-loader [buttonLoader]="true" size="lg"></app-loader>
        <p class="mt-4 text-gray-700 font-semibold">Loading simulation data...</p>
    </div>
</div>

<div *ngIf="isCheckingProgress$ | async"
    class="fixed inset-0 flex items-center justify-center bg-glass-sm bg-opacity-50 z-50">
    <div class="p-6 bg-white rounded-lg shadow-lg text-center">
        <app-loader [buttonLoader]="true" size="lg"></app-loader>
        <p class="mt-4 text-gray-700 font-semibold">Your simulation is in progress, please wait...</p>
    </div>
</div>
<div>
    <div class="p-3 my-2 w-full h-[140px] border border-[#E4E7EC] rounded-lg">

        <div class="flex gap-2 justify-between items-center my-2">
            <span class="text-[#46474C] font-semibold">Timeline</span>
            <span class="text-[#46474C] font-semibold">Simulation speed:
                <select class="speed" (change)="changeSpeed($event)">
                    <option selected value="120000"> 2 min </option>
                </select>
            </span>
        </div>

        <div class="px-6 slider-container">
            <app-progress-bar [duration]="selectedAnimationDuration/1000" class="custom-progress-bar">
            </app-progress-bar>
            <div class="time-labels">
                <span *ngFor="let time of generateTimeLabels()">{{ time }}</span>
            </div>
        </div>

    </div>
    <div class="p-3 my-2 w-full border border-[#E4E7EC] rounded-lg">

        <div class="flex gap-2 justify-start items-center p-2">
            <span class="text-[#46474C] font-semibold">Worst case scenario</span>
        </div>
        <hr class="mx-2 my-1">
        <div class="grid min-lg:grid-cols-2 grid-cols-1 gap-x-10 min-3xl:gap-x-20 gap-y-4 p-2">
            <div class="flex flex-col">
                <div class="flex gap-2 justify-between items-center my-2">
                    <span class="text-[#46474C]">No of trucks Inside</span>
                    <span class="text-[#46474C]">
                        <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                            [data]="(totalInsideTrucks$ | async) || defaultTickerValue"></app-number-ticker>
                    </span>
                </div>
                <hr class="my-1">
                <div class="flex gap-2 justify-between items-center my-2">
                    <span class="text-[#46474C]">No. of trucks outside</span>
                    <span class="text-[#46474C]">
                        <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                            [data]="(totalOutsideTrucks$ | async) || defaultTickerValue"></app-number-ticker>
                    </span>
                </div>
                <hr class="my-1">
                <div class="flex gap-2 justify-between items-center my-2">
                    <span class="text-[#46474C]">Total processed trucks</span>
                    <span class="text-[#46474C]">
                        <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                            [data]="(totalProcessedTrucks$ | async) || defaultTickerValue"></app-number-ticker>
                    </span>
                </div>
                <div class="flex justify-start gap-10 mt-4">
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-14 bg-[#FACC15] rounded-md"></div>
                        <span class="text-[#46474C] font-medium">
                            <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                                [data]="(totalEarlyTrucks$ | async) || defaultTickerValue"></app-number-ticker>
                            <br> Early
                        </span>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-14 bg-[#3B82F6] rounded-md"></div>
                        <span class="text-[#46474C] font-medium">
                            <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                                [data]="(totalLateTrucks$ | async) || defaultTickerValue"></app-number-ticker>
                            <br> Late
                        </span>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-14 bg-[#EC4899] rounded-md"></div>
                        <span class="text-[#46474C] font-medium">
                            <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                                [data]="(totalNotArrivedTrucks$ | async) || defaultTickerValue"></app-number-ticker>
                            <br> Expired
                        </span>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="w-2 h-14 bg-[#14B8A6] rounded-md"></div>
                        <span class="text-[#46474C] font-medium">
                            <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                                [data]="(totalOnTimeTrucks$ | async) || defaultTickerValue"></app-number-ticker>
                            <br> On time
                        </span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="flex gap-2 justify-between items-center my-2">
                    <span class="text-[#46474C]">Outside queue length (km)</span>
                    <span class="text-[#46474C]">{{outsideQueueLength}}</span>
                </div>
                <hr class="my-1">
                <div class="flex gap-2 justify-between items-center my-2">
                    <span class="text-[#46474C]">Average queue speed (km/h)</span>
                    <span class="text-[#46474C]">{{outsideQueueLength}}</span>
                </div>
                <hr class="my-1">
                <div class="flex gap-2 justify-between items-center my-2">
                    <span class="text-[#46474C]">Average time to enter (min) </span>
                    <span class="text-[#46474C]">-</span>
                </div>
                <hr class="my-1">
                <div class="flex gap-2 justify-between items-center my-2">
                    <span class="text-[#46474C]">Total access granted</span>
                    <app-number-ticker [autoPlay]="false" [totalAnimationTime]="selectedAnimationDuration"
                        [data]="(totalAccessGranted$ | async) || defaultTickerValue"></app-number-ticker>
                </div>
                <hr class="my-1">
            </div>
        </div>

    </div>
    <div class="flex justify-center items-center bg-gray-100">
        <app-sankey-chart [totalAnimationDuration]="selectedAnimationDuration" [rawData]="(data | async) || {}"
            [groupKeys]="labels" [width]="width" [height]="500">
        </app-sankey-chart>
    </div>

</div>
<div class="flex gap-3 justify-end mt-6">
    <button type="button" (click)="isStarted ? stopAnimation() : startAnimation()"
        class="btn text-white bg-[#3498DB] w-[160px]">Start / Stop</button>
    <button type="button" (click)="next()" class="btn text-white bg-[#3498DB] w-[160px]">Next</button>
</div>