<!-- Spinner for loading simulation data -->
<!-- <div *ngIf="isLoading$ | async" class="fixed inset-0 flex items-center justify-center bg-gray-900 bg-opacity-50 z-50">
  <div class="p-6 bg-white rounded-lg shadow-lg text-center">
    <app-loader [buttonLoader]="true" size="lg"></app-loader>
    <p class="mt-4 text-gray-700 font-semibold">Loading simulation data...</p>
  </div>
</div> -->
<!-- <div *ngIf="isLoading$ | async" class="fixed inset-0 flex items-center justify-center bg-glass-sm bg-opacity-50 z-50">
  <div class="p-6 bg-white rounded-lg shadow-lg text-center">
    <app-loader [buttonLoader]="true" size="lg"></app-loader>
    <p class="mt-4 text-gray-700 font-semibold">Loading simulation data...</p>
  </div>
</div> -->

<!-- Spinner for checking simulation progress -->
<!-- <div *ngIf="isCheckingProgress$ | async" class="fixed inset-0 flex items-center justify-center bg-glass-sm bg-opacity-50 z-50">
  <div class="p-6 bg-white rounded-lg shadow-lg text-center">
    <app-loader [buttonLoader]="true" size="lg"></app-loader>
    <p class="mt-4 text-gray-700 font-semibold">Your simulation is in progress, please wait...</p>
  </div>
</div>

<div class="p-6 bg-white rounded-lg">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Simulation</h2>
  <p class="text-lightGray mb-4">
    Now that parameters were set and queues generated, you can start the 24 hours simulation.<br />
    You can set the simulation speed or skip directly to reports.
  </p>

  <mat-tab-group
    [(selectedIndex)]="selectedIndex"
    (selectedIndexChange)="onTabChange($event)"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
  >
    <mat-tab *ngFor="let tabData of tabsData">
      <ng-template mat-tab-label>
        {{ tabData.tabName }}
      </ng-template>
      <app-showcase-tab
        [Headers]="tabData.tabHeaders.Headers"
        [simulation]="simulation">
      </app-showcase-tab>
    </mat-tab>
  </mat-tab-group>
</div> -->
<div *ngIf="isLoading$ | async" class="fixed inset-0 flex items-center justify-center bg-glass-sm bg-opacity-50 z-50">
  <div class="p-6 bg-white rounded-lg shadow-lg text-center">
    <app-loader [buttonLoader]="true" size="lg"></app-loader>
    <p class="mt-4 text-gray-700 font-semibold">Loading simulation data...</p>
  </div>
</div>

<!-- Spinner for checking simulation progress -->
<div *ngIf="isCheckingProgress$ | async" class="fixed inset-0 flex items-center justify-center bg-glass-sm bg-opacity-50 z-50">
  <div class="p-6 bg-white rounded-lg shadow-lg text-center">
    <app-loader [buttonLoader]="true" size="lg"></app-loader>
    <p class="mt-4 text-gray-700 font-semibold">Your simulation is in progress, please wait...</p>
  </div>
</div>

<div class="p-6 bg-white rounded-lg">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Simulation</h2>
  <p class="text-lightGray mb-4">
    Now that parameters were set and queues generated, you can start the 24 hours simulation.<br />
    You can set the simulation speed or skip directly to reports.
  </p>

  <mat-tab-group
    [(selectedIndex)]="selectedIndex"
    (selectedIndexChange)="onTabChange($event)"
    mat-stretch-tabs="false"
    mat-align-tabs="start"
  >
    <mat-tab *ngFor="let tabData of tabsData">
      <ng-template mat-tab-label>
        {{ tabData.tabName }}
      </ng-template>
      <app-showcase-tab
        [Headers]="tabData.tabHeaders.Headers"
        [simulation]="simulation">
      </app-showcase-tab>
    </mat-tab>
  </mat-tab-group>
</div> 