<div class="p-6 bg-white rounded-lg">
  <h2 class="text-2xl font-semibold text-gray-800 mb-4">Simulation</h2>
  <p class="text-lightGray mb-4">
    Now that parameters were set and queues generated, you can start the 24 hours simulation.<br />
    You can set the simulation speed or skip directly to reports.
  </p>
  <mat-tab-group [(selectedIndex)]="selectedIndex" (selectedIndexChange)="onTabChange($event)" mat-stretch-tabs="false"
    mat-align-tabs="start">
    <mat-tab label="MOST PROBABLE SCENARIO">
      <ng-template matTabContent>
        <app-probable-case *ngIf="selectedIndex === 0" [key]="0"></app-probable-case>
      </ng-template>
    </mat-tab>
    <mat-tab label="WORST CASE SCENARIO">
      <ng-template matTabContent>
        <app-worst-case *ngIf="selectedIndex === 1" [key]="1"></app-worst-case>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>